---
import Layout from '../layouts/Layout.astro';
import ListMangas from '../components/ListMangas.astro';
import { listMangas } from '../../config/mangas'

---

<Layout title="Mangas list">
	<main class="container mx-auto py-8">
		<h1 class="text-3xl font-extrabold text-center sm:text-start">Mangas openings</h1>
		<ListMangas items={listMangas} />
	</main>
</Layout>
