<div class="py-8 sm:py-16">
    <div class="container px-4 sm:p-0 flex flex-col gap-2 mx-auto">
        <h1 class="font-bold text-xl">About</h1>
        <div>
            <p class="text-slate-600">
                This site is a demo of an Astro SPA using <span class="font-bold text-black">Astro 3.0</span> with the View Transitions API and persistent islands✨
            </p>
            <p class="text-slate-500">
                Made with ❤️ by <a class="text-sm text-orange-500" href="https://twitter.com/gappalchemist">App Alchemist</a> -- <a class="text-sm text-orange-500" href="https://github.com/glody007/mangas-intro">Source</a> -- <a class="text-sm text-orange-500" href="https://developer.chrome.com/blog/astro-view-transitions/">Learn more</a>
            </p>
        </div>
    </div>
</div>