---
import { Image } from 'astro:assets';
import icon from '../images/icon.svg';
---

<div class="border-b py-6">
    <div class="container flex justify-center sm:justify-start mx-auto">
        <a href="/" class="flex items-center">
            <Image src={icon} alt="Icon" class="w-8 h-8" />
            <span class="font-bold text-xl">Mangas intros</span>
        </a>
    </div>
</div>