---
import Layout from '../../layouts/Layout.astro';
import { listMangas } from '../../../config/mangas'
import MangasOverview from '../../components/MangasOverview.astro';
import Video from '../../components/Video.jsx';
import ListOpenings from '../../components/ListOpenings.astro';

export function getStaticPaths() {
  return listMangas.map((_, i) => ({params: { id: i}}))
}

const { id } = Astro.params;
---

<Layout title="Mangas details">
	<main class="container mx-auto py-8 flex space-x-8">
		<div class="flex flex-col flex-start gap-4">
			<Video url={listMangas[id].opening} client:load />
			<MangasOverview {...listMangas[id]} />
		</div>
		<ListOpenings items={listMangas} />
	</main>
</Layout>
