---
import Layout from '../../layouts/Layout.astro';
import { listMangas } from '../../../config/mangas'
import MangasOverview from '../../components/MangasOverview.astro';

export function getStaticPaths() {
  return listMangas.map((_, i) => ({params: { id: i}}))
}

const { id } = Astro.params;
---

<Layout title="Mangas details">
	<main class="container flex flex-start mx-auto py-8">
		<MangasOverview {...listMangas[id]} />
	</main>
</Layout>
