---
import Layout from '../../layouts/Layout.astro';
import { listMangas } from '../../../config/mangas'
import MangasOverview from '../../components/MangasOverview.astro';
import Video from '../../components/Video.jsx';
import ListOpenings from '../../components/ListOpenings.astro';

export function getStaticPaths() {
  return listMangas.map((_, i) => ({params: { id: i}}))
}

const { id } = Astro.params;

const filteredMangas = listMangas.filter(mangas => id !== mangas.id)
---

<Layout title="Mangas details">
	<main class="container mx-auto px-4 sm:px-0 py-8 flex flex-col md:flex-row gap-4">
		<div class="flex-1 max-h-[500px] flex flex-col flex-start gap-4 sm:mr-4">
			<Video client:only transition:persist transition:name="media-player" />
			<MangasOverview {...listMangas[id]} />
		</div>
		<div>
			<ListOpenings items={filteredMangas} />
		</div>
	</main>
</Layout>
